/* Styles globaux de base */
body {
  margin: 0;
  background: #eee;
  color: #333;
  font-family: sans-serif;
}

main {
  padding: 1rem;
  margin: 2rem auto;
  max-width: 40rem;
}

/* Styles pour les liens d'ancrage des titres (convertis de SCSS en CSS) */
:where(h2, h3, h4, h5, h6) .icon-link {
  position: relative;
}

:where(h2, h3, h4, h5, h6) .icon-link::before {
  content: '#';
  position: absolute;
  left: -1ch;
  top: 0;
  line-height: 1;
  opacity: 0;
  text-decoration: underline;
}

:where(h2, h3, h4, h5, h6):hover .icon-link::before {
  opacity: 1;
}
